@{
    Layout = null;
}

<!Doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title>_Layout</title>
        <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
        @RenderSection("scripts",false)
    </head>
    <body class="m-1 p-1">
        @RenderBody()
    </body>
</html>